<script setup>
import { computed, defineComponent, reactive } from 'vue'
import { useStore } from 'vuex';
import AuthButton from '@/components/auth/Button.vue'
import Datepicker from '@/components/auth/Datepicker.vue'
import { useField } from 'vee-validate';
import * as yup from 'yup';
import { useToast } from "vue-toastification";
import { useRouter } from 'vue-router'

const router = useRouter()

defineComponent([AuthButton, Datepicker])

const store = useStore()
const toast = useToast()

const registerSuccess = computed(() => store.state.auth.registerSuccess)
const user = reactive({
  firstname: useField(
    'firstname',
    yup
      .string()
      .required("Họ tên người dùng không được để được trống")
      .max(100, "Họ tên người dùng không vượt quá 100 kí tự")
  ),
  email: useField(
    'email',
    yup
      .string()
      .required("Địa chỉ email không được để được trống")
      .email("Địa chỉ email không hợp lệ")
  ),
  password: useField(
    'password',
    yup
      .string()
      .required("Mật khẩu không được để được trống")
      .matches(/^[A-Z](?=.*\d)(?=.*[a-z])(?=.*[!@\$%\&*\)\(])[a-zA-Z0-9!@\$%\&*\)\(]{8,16}$/,
        "Mật khẩu phải bắt đầu bằng chữ in hoa và bao gồm 8-16 chữ cái, số và ký tự đặc biệt(@$!%*?&)")
      .min(8, "Mật khẩu phải bắt đầu bằng chữ in hoa và bao gồm 8-16 chữ cái, số và ký tự đặc biệt(@$!%*?&)")
      .max(16, "Mật khẩu phải bắt đầu bằng chữ in hoa và bao gồm 8-16 chữ cái, số và ký tự đặc biệt(@$!%*?&)")
  ),
  phone: useField(
    'phone',
    yup
      .string()
      .required("Số điện thoại không được để được trống")
      .matches(/^[0-9]*$/, "Số điện thoại không hợp lệ")
      .max(20, "Số điện thoại không vươt quá 20 kí tự")
  ),
  birthday: '',
  sex: "1"
})

const validated = (user) => {
  for (var key in user) {
    if (user.hasOwnProperty(key)) {
      if (user[key].hasOwnProperty('meta')) {
        if(!user[key].meta.validated) {
          return toast.error("Vui lòng nhập thông tin")
        }
        if(!user[key].meta.valid) {
          return toast.error("Vui lòng kiểm tra lại tính hợp lệ của thông tin")
        }
      }
    }
  }
  return true
}

const hanldeStringifyBirthday = (value) => user.birthday = value

const hanldeRegister = () => {
  if (validated(user) === true) {
    const data = {
      firstname: user.firstname.value,
      password: user.password.value,
      email: user.email.value,
      phone: user.phone.value,
      sex: user.sex,
      birthday: user.birthday
    }
    store.dispatch('handleRegister', data)
    if (registerSuccess) {
      router.push({ path: 'login' })
    }
  }
}
</script>

<template>
<main>
  <div class="tabs">
    <div class="tabs__header">
      <label for="tabSignIn" class="sign-in">
        <span>Đăng nhập</span>
      </label>
        
      <label for="tabSignUp" class="sign-up">
        <span>Đăng ký</span>
      </label>
    </div>
          
    <div class="tabs__body">
      <div class="tabs__sign-up">
        <div class="name">
          <label class="name">Tên</label><br>
          <input type="text" v-model="user.firstname.value" class="form-control">
          <span class="small text-danger">{{ user.firstname.errorMessage }}</span>
        </div>
        
        <Datepicker @on-change-birthday="hanldeStringifyBirthday" />
        
        <div>
          <label class="">Email</label><br>
            <input type="email" v-model="user.email.value" class="form-control">
            <span class="small text-danger">{{ user.email.errorMessage }}</span>
          </div>
                  
          <div>
            <label class="">Mật khẩu</label><br>
            <input type="text" v-model="user.password.value" class="form-control">
            <span class="small text-danger">{{ user.password.errorMessage }}</span>
          </div>
                  
          <div class="info row">
            <div class="phone-number col-lg">
              <label>Số điện thoại</label><br>
              <input type="tel" v-model="user.phone.value" class="form-control" id="" placeholder="+84 | Nhập">
              <span class="small text-danger">{{ user.phone.errorMessage }}</span>
            </div>
            <div class="male col-lg">
              <label>Giới tính</label><br>
              <select class="form-control" id="maleList" v-model="user.sex">
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
              </select>
            </div>
          </div>
          
          <AuthButton
            action="Đăng ký"
            @on-sign-click="hanldeRegister"
            @on-facebook-click="hanldeRegister"
            @on-google-click="hanldeRegister"
          />
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
body {
  line-height: 22px;
}

main,
.tabs__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Tab */
.tabs {
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  
  border-radius: 8px;

  background-color: var(--white100);
  box-shadow: 0px 12px 20px rgba(72, 91, 198, 0.1);
}

/* Tabs Header */
.tabs__header {
  margin-top: 4rem;
}

.tabs__header label {
  min-width: 12.5rem;
  padding: 0.8rem 2rem;
  text-align: center;
  
  border: 0.5px solid #C5C7DD;
  color: var(--black100);
  background: rgba(60, 60, 67, 0.05);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.tabs__header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--black100);
}

.tabs__header .sign-up {
  border: 0.5px solid var(--blue500);
  background-color: var(--blue500);
  border-radius: 8px 0px 0px 8px;
}

.tabs__header .sign-up {
  border-radius: 0px 8px 8px 0px;
}

.tabs__header .sign-up span {
  color: var(--white200);
}

/* Tabs Checked */
.tabs input[type='radio']:checked + .tabs__body .tabs__sign-in {
  display: none;
}

.tabs input[type='radio']:checked + .tabs__body .tabs__sign-in {
  display: none;
}

.tabs input[type='radio']:checked + .tabs__body .tabs__sign-up {
  display: block;
  transition: 0.3s;
}

#tabSignUp:checked ~ .tabs__header .sign-up {
  color: var(--white200);
  border: 0.5px solid var(--blue500);
  background-color: var(--blue500);
}

#tabSignUp:checked ~ .tabs__header .sign-in span {
  color: var(--black100);
}

.tabs input[type='radio']:checked + .tabs__header .sign-in {
  border: 0.5px solid #C5C7DD;
  background: rgba(60, 60, 67, 0.05);
}

/* Sign IN */
.tabs__sign-in,
.tabs__sign-up {
  align-items: center;
  margin: 4rem 10%;
}

.tabs__sign-in label,
.tabs__sign-up label {
  margin-bottom: 0.8rem;
  color: var(--black100);
}

.tabs__sign-in input,
.tabs__sign-up input {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--blue500);
}

.male select {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.name input {
  margin-bottom: 1.6rem;
}

.password {
  margin-bottom: 2.8rem;
}

.tabs__sign-in .button
.tabs__sign-up .button {
  width: 100%;
  padding-top: 4rem;
  align-items: center;

  text-align: center;
}

/* Sign UP */
.tabs__sign-up div {
  margin-bottom: 1.6rem;
}

.phone-number {
  margin-bottom: 4.8rem;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .tabs {
    width: 80%;
  }

  .tabs__header .tabs__toggle {
    min-width: 12rem;
    padding: 1rem;
  }
}
</style>